.level-0 {
    display: block;
    background-color: #e3e3e3;
    border-width: 3px;
    border-style: solid;
    border-color: #ff00ee;
    height: 200px;
}

.level-1 {
    background-color: green;
    border-width: 3px;
    border-style: dotted;
    border-color: blue;
}

div {
  background-color: yellow;
}

#root {
  background-color: #000000;
}

#root {
  background-color: #ff9955;
}
