div {
  display: block;
  padding: 10px;
  border-width: 3px;
  border-color: #ff00ee;
}

.level-0 {
  background-color: #387cfa;
}

.level-1 {
  background-color: #00ff33;
}

.level-2 {
  background-color: #387cfa;
}

#root {
  background-color: #ff9955;
}
